<nav>
    <div>
        <a href="/"><img alt="Tomato Logo" src="static-images/tomato.png"></a>
        <h2 class="logo-text">Mathmato</h2>
    </div>
    <div class="nav">
        <a href="javascript:void(0);" class="icon" id="btn-hamburger">&#9776;</a>
        <%- include('menu'); %>
    </div>
    <div class="responsive-menu" id="responsive-menu">
        <%- include('menu'); %>
    </div>
</nav>