/* Default Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --color-main: #ff3d3d;
    --color-secondary: #7ADB92;
    --color-misc: #E3F2FD;
    --color-background: #FAFAFA;
    --black: #000;
    --white: #FFF;
    --first-platinum: #e5e4e2;
    --second-gold: #d4af37;
    --third-silver: #c0c0c0;
    --fourth-bronze: #cd7f32;
    --fifth-brass: #b5a642;
    --text-high: rgba(0,0,0,0.87);
    --text-medium: rgba(0,0,0,0.60);
    --text-disabled: rgba(0,0,0,0.38);
    --valid-color: #9DF148;
    --error-color: #B00020;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --page-padding: 10%;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Custom font */
@font-face {
    font-family: 'Amorria';
    src: url('../fonts/Amorria-Brush.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    position: relative;
    height: auto;
    width: auto;
}

main {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

body {
    background: var(--color-background);
    color: var(--text-medium);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    word-wrap: break-word;
    display: block;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--color-main);
    font-weight: 600;
    transition: 150ms ease-in-out;

    &:hover {
        color: var(--color-secondary);
        font-size: 17px;
    }
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

/* Common Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Produces outside gradient box for theme and emphasis. */
.gradient-box {
    background: linear-gradient(to right, var(--color-main), var(--color-secondary));
    padding: 3px;
    border-radius: var(--border-radius);
    width: 100%;
    box-shadow: var(--box-shadow);
}

/* Produces gradient styling for the logo that reverses on hover. */
.logo-text {
    background: -webkit-linear-gradient(var(--color-secondary), var(--color-main));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Amorria', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:hover {
        background: -webkit-linear-gradient(var(--color-main), var(--color-secondary));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    & div a.active {
        color: var(--color-secondary);
    }

    & div:nth-of-type(1) {
        grid-column: 1 / 2;
        display: flex;
        align-items: center;

        & img {
            width: 100px;
            height: auto;
        }
    }

    & div:nth-of-type(2) {
        grid-column: 2 / 3;
        display: flex;
        justify-content: space-evenly;
    }

    & div:nth-of-type(3) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
}

.nav .icon {
    display: none;
}

.responsive-menu {
    display: none;
}

.responsive-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    & a {
        border: 1px solid var(--color-main);
        border-radius: var(--border-radius);
        width: 75%;
        text-align: center;
        padding: var(--spacing-xs);

        &:hover {
            border: 1px solid var(--color-secondary);
            background-color: var(--color-misc);
        }
    }

    & form {
        width: 100%;
    }

    & a:nth-of-type(1) {
        animation: responsive-menu 300ms ease-in-out 0s 1 normal forwards;
    }

    & a:nth-of-type(2) {
        animation: responsive-menu 600ms ease-in-out 0s 1 normal forwards;
    }

    & a:nth-of-type(3) {
        animation: responsive-menu 900ms ease-in-out 0s 1 normal forwards;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & div {
        width: 50%;
        padding: var(--spacing-xs);
    }

    & a {
        cursor: pointer;
    }
}

label {
    font-weight: 600;
}

button {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    color: var(--white);
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    font-weight: 500;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 150ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);

    &:hover {
        background-color: var(--color-secondary);
        font-weight: 600;
        font-size: 14px;
    }
}

footer {
    color: var(--text-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: var(--spacing-sm);
    position: absolute;
    bottom: 0;
    left: 0;
}

.icon {
    color: var(--text-medium);
    font-size: 20px;
}

.fa-github {
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Login, Register Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.jumbotron {
    width: 100vw;
    height: auto;
    background-color: var(--color-misc);
    color: var(--text-medium);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 2fr 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: 5px;

    & .jumbo-logo {
        grid-row: 1 / 2;
        align-self: center;
        background-color: var(--color-background);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: var(--spacing-sm);

        & img {
            width: 250px;
            height: auto;
        }
    }

    & a {
        grid-row: 2 / 3;
        font-size: 10px;
        opacity: 0.5;
        width: fit-content;
    }
}

input {
    background: var(--color-background);
    border-radius: var(--border-radius);
    height: 20px;
    width: 100%;
    padding: var(--spacing-md);
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Index Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.game-content {
    display: none;
}

.game-hub.inactive {
    display: none;
}

.game-content.active {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: var(--spacing-xl);
}

.game-container {
    background-color: var(--color-misc);
    padding: var(--spacing-xl);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: var(--spacing-md);

    & h2 {
        grid-column: 1 / -1;
        grid-row: 1 / 2
    }

    & img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    & .game-info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--spacing-lg);
    }

    & .game-description {
        border: 1px solid var(--white);
        border-radius: var(--border-radius);
        padding: var(--spacing-md);
    }

    & .game-difficulty {
        border: 1px solid var(--white);
        border-radius: var(--border-radius);
        padding: var(--spacing-md);

        & img {
            width: 50px;
            height: auto;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: rotate(360deg) scale(1.2);
            }
        }        
    }
}

.play-game-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 2fr 1fr 60px;
    grid-template-rows: 50px 1fr;
    gap: var(--spacing-md);

    & .game-question-container {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        & img {
            width: 100%;
            height: auto;
            border-radius: var(--border-radius);
        }
    }

    & .game-status-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-color: var(--color-misc);
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: var(--border-radius);
    }

    & .game-timer-container {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        height: 50px;
        width: 50px;
        background: linear-gradient(to right, var(--color-main), var(--color-secondary));
        padding: 3px;
        border-radius: 50%;
        box-shadow: var(--box-shadow);

        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: var(--color-background);

            & h3 {
                font-family: 'Amorria', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
            }
        }
    }

    & .game-options-container {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: var(--spacing-md);

        & .game-option {
            background: linear-gradient(to right, var(--color-main), var(--color-secondary));
            padding: 3px;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);

            & div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                border-radius: var(--border-radius);
                background-color: var(--color-background);
                transition: 150ms ease-in-out;

                &:hover {
                    background-color: var(--color-misc);
                }

                & h3 {
                    font-family: 'Amorria', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
                }
            }
        }
    }
}

.game-score-container #game-score {
    text-align: center;
    font-family: 'Amorria', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.game-over-modal {
    background: linear-gradient(to right, var(--color-main), var(--color-secondary));
    padding: 3px;
    border-radius: var(--border-radius);
    width: 400px;
    box-shadow: var(--box-shadow);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;

    & div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--spacing-md);
        background: var(--color-background);
        border-radius: var(--border-radius);

        & h3 {
            font-family: 'Amorria', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        }
    }
}

.game-buttons-container {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
}

.game-over-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.game-over-high-score {
    display: none;
}

.game-over-high-score.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Highscore styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highscore-info {
    background: var(--color-misc);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    font-weight: 600;

    & p {
        border-left: 1px solid var(--white);
        border-right: 1px solid var(--white);
        width: 100%;
        text-align: center;
    }

    & p:nth-of-type(1) {
        grid-column: 1 / 2;
        border-left: none;
    }

    & p:nth-of-type(2) {
        grid-column: 2 / 3;
    }

    & p:nth-of-type(3) {
        grid-column: 3 / 4;
    }

    & p:nth-of-type(4) {
        grid-column: 4 / 5;
        border-right: none;
    }
}

.highscore-grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.highscore-container {
    background: linear-gradient(to right, var(--color-main), var(--color-secondary));
    padding: 3px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    & div {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        background: var(--color-misc);
        border-radius: var(--border-radius);
        padding-left: var(--spacing-lg);
        padding-right: var(--spacing-lg);
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
        align-items: center;
        font-weight: 600;

        & p {
            border-left: 1px solid var(--white);
            border-right: 1px solid var(--white);
            width: 100%;
            text-align: center;
        }

        & p:nth-of-type(1) {
            grid-column: 1 / 2;
            border-left: none;
        }

        & p:nth-of-type(2) {
            grid-column: 2 / 3;
        }

        & p:nth-of-type(3) {
            grid-column: 3 / 4;
        }

        & p:nth-of-type(4) {
            grid-column: 4 / 5;
            border-right: none;
        }
    }

    &:nth-of-type(2) div {
        background: var(--first-platinum);
    }

    &:nth-of-type(3) div {
        background: var(--second-gold);
    }

    &:nth-of-type(4) div {
        background: var(--third-silver);
    }

    &:nth-of-type(5) div {
        background: var(--fourth-bronze);
    }

    &:nth-of-type(6) div {
        background: var(--fifth-brass);
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Media queries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 750px) {
    .nav :not(:first-child) {				
        display: none;
    }

    .nav a.icon {					
        display: block;
        font-size: 24px;
    }
    
    .jumbotron {
        padding-left: 5%;
        padding-right: 5%;
    }

    form div {
        width: 80%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    .play-game-container {
        grid-template-columns: 1fr 60px;
        grid-template-rows: 1fr 50px 1fr;

        & .game-question-container {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        & .game-status-container {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        & .game-timer-container {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        & .game-options-container {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
    }

    .highscore-container div {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);

        & p {
            font-size: 12px;
        }

        & p:last-of-type {
            border-left: none;
        }
    }
}

@media only screen and (max-height: 850px) {
    footer {
        position: relative;
    }
}

@media only screen and (max-width: 1200px) {
    .jumbo-logo {
        flex-direction: column;
    }

    .game-container {
        display: flex;
        flex-direction: column;
    }

    footer {
        position: relative;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Keyframes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes responsive-menu {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% { transform: scale(1.05); }
    70% { transform: scale(.9); }
    100% { opacity: 1; transform: scale(1); }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */